{erl_opts, [debug_info]}. %, fail_on_warning]}.                                                             
{require_otp_vsn, "R15"}.

{deps_dir, ["deps"]}.

{deps, [{cowboy,   ".*",        {git, "git@github.com:ruanhao/cowboy.git", {branch, "cowboy061"}}},
  {jsx,   ".*",        {git, "git@github.com:ruanhao/jsx.git", {branch, "beamspirit"}}}]}.
